*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: rgb(252, 160, 175);
}

h1,
p{
    text-align: center;
}

.container{
    text-align: center;
}

button{
    background-color: rgb(77, 21, 190);
    border-radius: 6.5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 17px;
    padding-right: 17px;
    color: white;
    border-color: rgb(77, 21, 190);
}



